<%- include("partials/stackHeader"); -%>


    <% questions.forEach(function(element){  %>
   
      <div class="card bg-light">
        <div class="card-body">
          <h4 class="card-title"><a href="/questionAnswer/<%= element._id %>" class="questionTitle"><%= element.questionTitle %></a></h4>
             <p class="card-text"><pre><%= element.questionDescription.substring(0,101)+"....." %></pre></p>
<p class="card-text"><pre><%= element.userId.username %></pre></p>
<p class="card-text"><pre><%= element.userId.email %></pre></p>
<p class="card-text"><pre><%= element.userId.location %></pre></p>
              <% element.questionTags.forEach(function(item){ %>
              <a href="/tags/<%= item._id %>" class="btn btn-dark btn-sm"><%= item.name %></a>
            <% }) %>
          </div>
        </div>
    <%  }) %>
 
