<%- include("partials/stackHeader"); -%>
<h2><%=tag.name%></h2>

 
         
            <%  tag.question.forEach(function(item){%>
            <div class="card bg-light">
        <div class="card-body">
             <h4 class="card-title"><a href="/questionAnswer/<%= tag._id %>" class="questionTitle"><%= item.questionTitle %></a></h4>
             <p class="card-text"><pre><%= item.questionDescription %></pre></p>
  </div>
        </div>
       <%  })%>
              
        

<%- include("partials/stackFooter"); -%>

